$bg: #0e0217;
$purple: #5a19b7;
$white: #e2edf4;
$turq: #19b797;
$boxTurq: -3px 3px 0px 1px $turq;
$boxNoir: -5px 5px 0px 1px #000;
.about{
    flex-direction:column;
}

@media (min-width: 600px) {
.about{flex-direction: row;}
  }
  
  @media (min-width: 1200px) {
    
  }