$bg: #0e0217;
$purple: #5a19b7;
$white: #e2edf4;
$turq: #19b797;
$boxTurq: -3px 3px 0px 1px $turq;
$boxNoir: -5px 5px 0px 1px #000;

#portfolio{
    flex-direction: column;
    margin-top:10em;
    padding-bottom:10em;
    align-items: center;

    h1{
        font-family: "Saira", sans-serif;
        color:$turq;
        font-size: 4em;
    }

    img{}

    .typeProject{
        margin-top:1em;
        background-color:$turq;
        width:60vw;
    }
}