$bg: #0e0217;
$purple: #5a19b7;
$white: #e2edf4;
$turq: #19b797;
$boxTurq: -3px 3px 0px 1px $turq;
$boxNoir: -5px 5px 0px 1px #000;

.intro{
    margin:0 auto;
    justify-content: center;
    align-items: center;
    h2, h3{
         color:$turq;
    }
    img{
        width:40vw;
        transform: scaleX(-1);
    }
   
}