    // https://www.figma.com/file/SpVDWMUECR3qDtL5EsPFv5/Untitled?node-id=0%3A1
    $bg: #0e0217;
    $purple: #5a19b7;
    $white: #e2edf4;
    $turq: #19b797;
    $boxTurq: -3px 3px 0px 1px $turq;
    $boxNoir: -5px 5px 0px 1px #000;
    
    html {
      background-color: $bg;
      font-family: "Saira", sans-serif;
      color:$white;
      .filtreNav{
        margin-bottom:1em;
      }
      .filtreNav a:hover{
        background-color: $purple;
        color:$white;
      }
      .portfolioImg{
        margin-bottom:6em;
      }
    }